
* {
    margin: 0;
    padding: 0;
  }

  header{
    background-color: orange;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    justify-items: end;
    align-items: center;
    height: 100px;
  }
/* 
.logo{
    justify-self: start;
    grid-column: 3/4;
}

.logout{
    grid-column: 2/3;
    grid-row: 1/2;
} */
#container{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}
footer{
    background-color: aqua;
}
main{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: beige;
}
.gallery{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}